@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
/* CSS Document */

:root {
	--base: rgba(20,56,120,1.00);
	--base2: rgba(19,92,175,1.00);
	--base2-semitransp: rgba(19,92,175,0.50);
	--sec: rgba(204,180,11,1.00);
	--activo: rgba(27,78,168,1.00);
	--selec: rgba(21,60,129,1.00);
	--texto: rgba(219,219,219,1.00);
	--azul-claro: rgba(19,92,175,1.00);
	--azul: rgba(24,63,155,1.00);
	--confirm: rgba(192,91,39,1.00);
	--elimin: rgba(163,33,35,1.00);
	--confirm2: rgba(108,39,184,1.00);
	--confirm-osc: rgba(160,75,32,1.00); 
	--fondo: rgba(228,228,228,1.00);
	--fondo2: rgba(236,236,236,1.00); 
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Hind Siliguri', sans-serif;
}

body {
	background-color: var(--fondo);
}

.contenedor {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: normal;
	align-content: stretch;
	max-width: 100%;
}

.contenedor2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 100%;
}

.cabeza{
	display: block;
	text-align: center;
	background-color: var(--base);
	color: var(--texto);
	font-size: 30px;
	font-weight: 400;
	padding: 10px 0;
	width: 100%;
	box-shadow: inset 6px 0px 9px -8px rgba(10,31,68,0.70);
}

.cuerpo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: normal;
	align-content: stretch;
	max-width: 100%;
	margin: 14px 50px;
	padding: 10px 40px;
	border: 1px solid rgba(159,159,159,0.40);
	border-radius: 4px;
	background-color: var(--fondo2);
}

.cuerpo2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: normal;
	align-content: stretch;
	max-width: 40%;
	margin: 14px 50px;
	padding: 10px;
	border: 1px solid rgba(159,159,159,0.40);
	border-radius: 4px;
	background-color: var(--fondo2);
}

.cont-tabla{
	display: block;
	float: left;
	max-width: 100%;
	height: 100%;
	padding: 20px 20px;
	margin: 5px 10px 10px;
	border: 1px solid rgba(159,159,159,0.40);
	border-radius: 4px;
	background-color: var(--fondo2);
}

.cuerpo > .opciones {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	padding: 10px 20px;
	margin: 10px 10px 5px;
	border: 1px solid rgba(159,159,159,0.40);
	border-radius: 4px;
	background-color: var(--fondo2);
}

.opciones {
	display: flex;
	justify-content: flex-end;
	max-width: 100%;
	padding: 10px 20px;
	margin: 10px 10px 5px;
	border: 1px solid rgba(159,159,159,0.40);
	border-radius: 4px;
	background-color: var(--fondo2);
}

.opciones-desc {
	display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid rgba(159,159,159,0.40);
    border-radius: 4px;
    background-color: var(--fondo2);
}

.opciones-desc2 {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px 20px;
    margin: 10px 10px;
    border: 1px solid rgba(159,159,159,0.40);
    border-radius: 4px;
    background-color: var(--fondo2);
}


.bloque {
	display: inline-block;
	width: 100%;
}

.bloque .select{
	display: block;
	float: left;
	width: 22%;
	margin: 0 20px 0 0;
}

.bloque .imprimir {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
}

.block {
	display: block;
}

.margen-top {
	margin: 5px 0 0 0;
}

.filtro{
	margin-bottom:20px;
}

.btn-editar {
	font-size: 22px;
	text-decoration: none;
	color: rgba(162,150,43,0.67);
}

.btn-editar:hover {
	color: rgba(162,150,43,0.99);
}

.btn-eliminar-a {
	font-size: 22px;
	text-decoration: none;
	color: rgba(162,43,43,0.67);
}

.btn-eliminar-a:hover {
	color: rgba(162,43,43,0.99);
}

.btn-eliminar-i {
	font-size: 22px;
	text-decoration: none;
	color: rgba(48,162,43,0.67);
}

.btn-eliminar-i:hover {
	color: rgba(48,162,43,0.99);
}

select.filtro {
	background: none;
	color: #161616;
	border: none;
	border: solid 2px var(--base2);
	border-radius: 0 5px 5px 0;
	margin: 5px 0;
	padding: 2px 5px;
	width: 170px;
	font-size: 20px;
	transition: all 0.3s;
	outline: none;
}

select.idmodif {
	background: none;
	color: #161616;
	border: none;
	margin: 10px 0;
	padding: 2px 5px;
	width: 170px;
	font-size: 20px;
	transition: all 0.3s;
	outline: none;
}

input::placeholder{
	background: none;
	color:rgba(42,42,42,0.44);
	font-size: 20px;
}

label.filtro {
	font-size: 20px;
	color: var(--base2);
	border: none;
	border: solid 2px var(--base2);
	padding: 3px 5px;
	border-radius: 5px 0 0 5px;
	margin-right: -5px;
}

select{
	background: none;
	color: #161616;
	border: none;
	border: solid 2px var(--base2);
	border-radius: 5px;
	margin: 5px 0 7px 0;
	padding: 2px 5px;
	width: 98.5%;
	font-size: 20px;
	transition: all 0.3s;
}

label {
	font-size: 20px;
	color: var(--base2);
}

[type=button], [type=submit], [type=reset] {
	background-color: var(--base2-semitransp);
	border-radius: 5px;
	border: 2px var(--base2) solid;
	color: white;
	padding: 3px 15px;
	cursor: pointer;
	transition: all 0.1s;
  	font-size: 20px;
	text-decoration: none;
}

[type=submit], #idcancelar > [type=button]{
	padding: 3px 15px;
}

#idcancelar [type=button]{
	background-color: rgba(155,34,34,0.50);
	color: white;
	border: 2px rgba(155,34,34,1.0) solid;
	margin: 0 0 0 5px; 
}

#idcancelar [type=button]:hover{
	background-color: rgba(155,34,34,1.0);
	color: var(--fondo);
	border: 2px rgba(155,34,34,1.0) solid;
}

[type=reset] {
	width: 13%;
}

[type=button]:hover, [type=submit]:hover {
	border: 2px var(--base2) solid;
	color: var(--texto);
	background-color: var(--base2);
}

#idcrear [type=button]{
	background-color: rgba(55,155,35,0.50);
	color: white;
	border: 2px rgba(55,155,35,1.0) solid;
}

#idcrear [type=button]:hover{
	background-color: rgba(55,155,35,1.0);
	color: var(--fondo);
	border: 2px rgba(55,155,35,1.0) solid;
}

.crear [type=button]{
	background-color: rgba(116,40,181,0.50);
	color: white;
	border: 2px rgba(116,40,181,1.0) solid;
}

.crear [type=button]:hover{
	background-color: rgba(116,40,181,1.00);
	color: var(--fondo);
	border: 2px rgba(116,40,181,1.0) solid;
}


input[type='text'], input[type='password'], input[type='date'], input[type='email'], input[type='number'], input[type='date'], input[type='time']{
	background: none;
	color: #161616;
	border: none;
	margin: 5px 0;
	padding: 2px 5px;
	font-size: 20px;
	transition: all 0.3s;
}

input[type='text'].inp-tabla, input[type='email'].inp-tabla, input[type='number'].inp-tabla{
	width: 80px;
}

input[type='text'].formulario__input, input[type='password'].formulario__input, 
input[type='date'].formulario__input, input[type='email'].formulario__input, 
input[type='number'].formulario__input, input[type='date'].formulario__input, 
input[type='time'].formulario__input, input[type='tel'].formulario__input{
	background: none;
	color: #161616;
	margin: 5px 0 15px;
	padding: 2px 5px;
	font-size: 20px;
	border: solid 2px var(--base2);
	width: 95.8%;
	border-radius: 8px;
	transition: all 0.3s;
	outline: none;
}

.form-dividido2{
	display: block;
	float: left;
	width: 48%;
	margin: 0 2% 0 0;
	padding: 0;
}

.formulario__grupo{
	position: relative;
}

.form-dividido2 .formulario__validacion-estado {
	position: absolute;
	right: 7px;
	top: 50px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__validacion-estado {
	position: absolute;
	right: 19px;
	top: 50px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-incorrecto .formulario__validacion-estado,
.formulario__grupo-incorrecto .form-dividido2 .formulario__validacion-estado {
	color: rgba(216,35,38,1.00);
	opacity: 1;
}

.formulario__grupo-correcto .formulario__validacion-estado,
.formulario__grupo-correcto .form-dividido2 .formulario__validacion-estado {
	color: rgba(88,143,29,1.00);
	opacity: 1;
}

.formulario__input-error {
	font-size: 14px;
	color: rgba(216,35,38,1.00);
	font-weight: 600;
	margin: -10px 0 5px;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.row {
	display: block;
	float: left;
	width: 100%;
	margin: 0 20px 0 5px;
	height: auto;
}

thead.hor-mostrar{
	background-color: var(--base);
	color: var(--texto) !important;
	font-weight: 300 !important;
}

th{
	border: none !important;
	color: var(--texto) !important;
	font-weight: 300 !important;
	border-right: 1px solid rgba(203,203,203,1.00) !important;
}

th:first-child {
	border-radius: 4px 0 0 0;
}

th:last-child {
	border-radius: 0 4px 0 0;
}

td{
	font-size: 17px !important;
	font-weight: 500;
	color: rgba(47,47,47,1.00);
	border: 1px solid rgba(159,159,159,0.40) !important;
}

td:last-child {
	border: 1px solid rgba(159,159,159,0.40) !important;
}

tr:nth-child(even){
	background-color: var(--fondo) !important;
}
